<HTML>
<HEAD>
<TITLE>1.home</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="style.css" TYPE="text/css" REL="stylesheet"> 
</HEAD>
<BODY BGCOLOR=#FFFFFF LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0 rightmargin="0" bottommargin="0" background="images/body.jpg" style="background-repeat:repeat;background-position:top center">
<table width="100%" height="100%" background="images/up-1.jpg" style="background-repeat:repeat-x;background-position:top center" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td align="center">
		 <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="766" height="356">
          <param name="movie" value="flash/header.swf">
          <param name="quality" value="high"><param name="menu" value="false">
          <embed src="flash/header.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="766" height="356"></embed>
	  </object>
	</td>
</tr>
<tr>
	<td height="327" background="images/end-1.jpg" style="background-repeat:repeat-x;background-position:bottom center" align="center">
		<table width="766" height="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="21" height="100%"><img src="images/spacer.gif" width="21" height="1"></td>
			<td>
				<table width="725" height="100%"  border="0" cellspacing="0" cellpadding="0">
					<TR>
						<TD colspan="2" width="241"><IMG SRC="images/5-txt-1.gif" WIDTH=241 HEIGHT=30 ALT=""></TD>
						<TD width="2"><IMG SRC="images/spacer.gif" WIDTH=2 HEIGHT=30 ALT=""></TD>
						<TD width="321"><IMG SRC="images/5-txt-2.gif" WIDTH=321 HEIGHT=30 ALT=""></TD>
						<TD width="2"><IMG SRC="images/spacer.gif" WIDTH=2 HEIGHT=30 ALT=""></TD>
						<TD colspan="2" width="159"><IMG SRC="images/5-txt-3.gif" WIDTH=159 HEIGHT=30 ALT=""></TD>
					</TR>
					<tr>
						<td width="3" height="100%" bgcolor="#C0BFA4"><img src="images/spacer.gif" width="3" height="1"></td>
						<td width="238" bgcolor="#5F5E43" background="images/back-1.jpg" style="background-repeat:repeat-x;background-position:bottom">
							<div style=" padding-left:11px;padding-top:20px;padding-right:10px;line-height:13px">
								<img src="images/5-pic-1.jpg" align="left" style="margin-right:14px">
								<div style=" line-height:14px;padding-top:10px" class="style-1">
									<strong class="style-2">Company Name Inc.</strong><br>
									8901 Marmora Road,<br>
									Glasgow, D04 89SG<br>
									Freephone: <br>
									1 800 789 4569<br>
									Telephone: <br>
									1 800 456 7896<br>
									FAX: <br>
									1 800 456 3698

								</div>
							</div>					
						</td>
						<td width="2"><img src="images/spacer.gif" width="2" height="1"></td>
						<td width="321" bgcolor="#7F7F5E" background="images/back-2.jpg" style="background-repeat:repeat-x;background-position:bottom">
							<form style="margin:0;margin-left:13px;margin-top:15px">
								<table width="288"  border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td width="156">
										<strong>
											Your Name:    <br>
											<input type="text" style="width:132px;height:18px;font-size:11px;background-color:#CDCDAE;margin-bottom:12px"><br>											
											Company Name:<br>
											<input type="text" style="width:132px;height:18px;font-size:11px;background-color:#CDCDAE;margin-bottom:12px">	<br>
											Telephone:<br>
											<input type="text" style="width:132px;height:18px;font-size:11px;background-color:#CDCDAE;margin-bottom:12px">	<br>
											FAX:<br>
											<input type="text" style="width:132px;height:18px;font-size:11px;background-color:#CDCDAE;margin-bottom:12px">	
										</strong>
									</td>
									<td width="132" align="right">
										<div style=" " align="left"><strong>Your Message:</strong></div>
										<textarea name="" cols="" rows="" style="width:132px;height:120px;font-size:11px;background-color:#CDCDAE;margin-top:2px;margin-bottom:16px;overflow:auto;font-family:tahoma"></textarea>
										<input type="image" src="images/reset.gif" border="0" align="absmiddle"><input type="image" src="images/submit.gif" border="0" align="absmiddle" style="margin-left:13px ">
									</td>
								</tr>
								</table>
							</form>
						</td>
						<td width="2"><img src="images/spacer.gif" width="2" height="1"></td>
						<td width="156" bgcolor="#94956E" background="images/back-3.jpg" style="background-repeat:repeat-x;background-position:bottom">
							<div style=" padding-left:21px;padding-top:17px;line-height:14px">
								<strong>Support center:</strong><br>
								<a href="#" style="color:#FDFDEE">cupport@company.com</a><br><br>
								
								<strong>Sales questions:</strong><br>
								<a href="#" style="color:#FDFDEE">sales@company.com</a><br><br>
								
								<strong>Web questions:</strong><br>
								<a href="#" style="color:#FDFDEE">web@company.com</a><br><br>
								
								<strong>User guide:</strong><br>
								<a href="#" style="color:#FDFDEE">user-g@company.com</a>
							</div>
						</td>
						<td width="3" height="100%" bgcolor="#C0BFA4"><img src="images/spacer.gif" width="3" height="1"></td>
					</tr>
					<tr><td colspan="7" width="725" height="3" bgcolor="#DADAAE"><img src="images/spacer.gif" width="1" height="1"></td></tr>
					<tr><td colspan="7" width="725" height="32" bgcolor="#FFFFE6" align="center"><div style=" padding-top:10px;padding-left:20px"><a href="index-6.html" style="color:#979763;text-decoration:none">Copyright 2005-2006 &copy; Business Company. All rights reserved.</a></div></td></tr>
					<tr><td colspan="7" width="725" height="3" bgcolor="#DADAAE"><img src="images/spacer.gif" width="1" height="1"></td></tr>
					<tr><td colspan="7" width="725" height="56" background="images/end-11.jpg" style="background-repeat:repeat;background-position:bottom"><img src="images/spacer.gif" width="1" height="1"></td></tr>
					</table>
			</td>
			<td width="20" height="100%"><img src="images/spacer.gif" width="20" height="1"></td>
		</tr>
		</table>

	</td>
</tr>
<tr>
	<td height="100%" background="images/end-11.jpg" style="background-repeat:repeat-y;background-position:top center">&nbsp;</td>
</tr>
</table>
</BODY>
</HTML>