<HTML>
<HEAD>
<TITLE>1.home</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="style.css" TYPE="text/css" REL="stylesheet"> 
</HEAD>
<BODY BGCOLOR=#FFFFFF LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0 rightmargin="0" bottommargin="0" background="images/body.jpg" style="background-repeat:repeat;background-position:top center">
<table width="100%" height="100%" background="images/up-1.jpg" style="background-repeat:repeat-x;background-position:top center" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td align="center">
		 <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="766" height="356">
          <param name="movie" value="flash/header.swf">
          <param name="quality" value="high"><param name="menu" value="false">
          <embed src="flash/header.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="766" height="356"></embed>
	  </object>
	</td>
</tr>
<tr>
	<td height="327" background="images/end-1.jpg" style="background-repeat:repeat-x;background-position:bottom center" align="center">
		<table width="766" height="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="21" height="100%"><img src="images/spacer.gif" width="21" height="1"></td>
			<td>
				<table width="725" height="100%"  border="0" cellspacing="0" cellpadding="0">
					<TR>
						<TD colspan="3" width="725"><IMG SRC="images/6-txt-1.gif" WIDTH=725 HEIGHT=30 ALT=""></TD>						
					</TR>
					<tr>
						<td width="3" height="100%" bgcolor="#7483C4"><img src="images/spacer.gif" width="3" height="1"></td>
						<td width="719" bgcolor="#006599" background="images/back-2.jpg" style="background-repeat:repeat-x;background-position:bottom">
							<div style=" padding-left:11px;padding-top:18px;line-height:13px;padding-right:10px" class="style-1"> 
							  <p class="style-3"><strong>Triumph Funding is an important part of a diverse group of companies whose sole purpose is to help individuals turn their financial goals in to reality </strong></p>
							  <ul>
                                <li><span class="style-3">Because of the volume of loans that we originate, the loans that we offer are “wholesale” rather than "retail", so we can offer lower rates than almost any local&nbsp;or national bank. </span>
                                <li><span class="style-3">We work with dozens of investors to get our clients the lowest rates in the industry.
                                </span>
                                <li><span class="style-3">We have access to programs that local banks do not, so we can help people who have been turned down in the past now qualify for a loan.
                                </span>
                                <li><span class="style-3">Our Investors are extremely competitive and often we require little to no documentation for mortgage loans.
                                </span>
                                <li class="style-3">In some cases we can process and have a loan funded in as little as 1 week. </li>
						      </ul>
							  <p class="style-3">Branch Locations: </p>
							  <p><span class="style-3">1000 Woodbury Rd, Stuite 107, Woodbury, NY
                              </span>
							  <ul>
                                <li><span class="style-3">Branch Manager - Alex Navarro email <a href="mailto:anavarro@triumphfundingcorp.com">anavarro@triumphfundingcorp.com </a>
                                </span>
                                <li><span class="style-3">Phone 516-224-8800 42-26 28th Street, Suite 5a, Long Island City, NY 11101
                                </span>
                                <li><span class="style-3">Branch Manager - Jason Smith email <a href="mailto:jsmith@triumphfundingcorp.com">jsmith@triumphfundingcorp.com </a>
                                </span>
                                <li><span class="style-3">Phone 718-707-9260
                                </span>
                                <li><span class="style-3">Fax 718-707-9278 8201 Main Street, Suite 1, Williamsville, NY 14221
                                </span>
                                <li><span class="style-3">Branch Manager - Ian Sutherland email <a href="mailto:isutherland@triumphfundingcorp.com">isutherland@triumphfundingcorp.com </a>
                                </span>
                                <li><span class="style-3">Phone 716-626-3303
                                </span>
                                <li><span class="style-3">Toll Free 866-855-3303
                                </span>
                                <li><span class="style-3">Fax 716-626-5811 Address &amp; Driving Directions : <br>
                                <a href="javascript:popUp('http://maps.yahoo.com/py/maps.py?addr=1000+Woodbury+Rd,+Ste+107&csz=Woodbury,+NY+11797&country=us')">1000 Woodbury Rd, Ste 107, Woodbury, NY 11797 </a><br>
                                <br>
    Voice : 866-855-3303 <br>
    <br>
    Email :
    <!--  document.write("<a href='mail")  document.write("to:")  document.write("promotions")  document.write("@")  document.write("triumphfundingcorp.com")  document.write("'>")  document.write("promotions" + "@" + "triumphfundingcorp.com")  document.write("</a>")  //-->
    <a href="mailto:promotions@triumphfundingcorp.com">promotions@triumphfundingcorp.com</a></span><a href="mailto:promotions@triumphfundingcorp.com"> </a> 							    </li>
                              </ul>
                              <p>&nbsp;						            </p>
						  </div>					  
					  </td>
						<td width="3" height="100%" bgcolor="#7483C4"><img src="images/spacer.gif" width="3" height="1"></td>
					</tr>
					<tr bgcolor="#B0C7E5"><td colspan="3" width="725" height="3"><img src="images/spacer.gif" width="1" height="1"></td>
				  </tr>
					<tr><td colspan="3" width="725" height="32" bgcolor="#FFFFE6" align="center"><div style=" padding-top:10px;padding-left:20px"><a href="index-6.html" style="color:#006699;text-decoration:none">Copyright 2005-2006 &copy; Business Company. All rights reserved.</a></div></td></tr>
					<tr bgcolor="#B0C7E5"><td colspan="3" width="725" height="3"><img src="images/spacer.gif" width="1" height="1"></td>
				  </tr>
					<tr><td colspan="3" width="725" height="56" background="images/end-11.jpg" style="background-repeat:repeat;background-position:bottom"><img src="images/spacer.gif" width="1" height="1"></td></tr>
			  </table>
			</td>
			<td width="20" height="100%"><img src="images/spacer.gif" width="20" height="1"></td>
		</tr>
		</table>

	</td>
</tr>
<tr>
	<td height="100%" background="images/end-11.jpg" style="background-repeat:repeat-y;background-position:top center">&nbsp;</td>
</tr>
</table>
</BODY>
</HTML>