<HTML>
<HEAD>
<TITLE>1.home</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="style.css" TYPE="text/css" REL="stylesheet"> 
</HEAD>
<BODY BGCOLOR=#FFFFFF LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0 rightmargin="0" bottommargin="0" background="images/body.jpg" style="background-repeat:repeat;background-position:top center">
<table width="100%" height="100%" background="images/up-1.jpg" style="background-repeat:repeat-x;background-position:top center" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td align="center">
		 <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="766" height="356">
          <param name="movie" value="flash/header.swf">
          <param name="quality" value="high"><param name="menu" value="false">
          <embed src="flash/header.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="766" height="356"></embed>
	  </object>
	</td>
</tr>
<tr>
	<td height="327" background="images/end-1.jpg" style="background-repeat:repeat-x;background-position:bottom center" align="center">
		<table width="766" height="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="21" height="100%"><img src="images/spacer.gif" width="21" height="1"></td>
			<td>
				<table width="725" height="100%"  border="0" cellspacing="0" cellpadding="0">
					<TR>
						<TD colspan="2" width="241"><IMG SRC="images/4-txt-1.gif" WIDTH=241 HEIGHT=30 ALT=""></TD>
						<TD width="2"><IMG SRC="images/spacer.gif" WIDTH=2 HEIGHT=30 ALT=""></TD>
						<TD width="239"><IMG SRC="images/4-txt-2.gif" WIDTH=239 HEIGHT=30 ALT=""></TD>
						<TD width="2"><IMG SRC="images/spacer.gif" WIDTH=2 HEIGHT=30 ALT=""></TD>
						<TD colspan="2" width="241"><IMG SRC="images/4-txt-3.gif" WIDTH=241 HEIGHT=30 ALT=""></TD>
					</TR>
					<tr>
						<td width="3" height="100%" bgcolor="#C0BFA4"><img src="images/spacer.gif" width="3" height="1"></td>
						<td width="238" bgcolor="#5F5E43" background="images/back-1.jpg" style="background-repeat:repeat-x;background-position:bottom">
							<div style=" padding-left:12px;padding-top:17px;line-height:13px" class="style-1">
								<img src="images/4-pic-1.jpg" align="left" style="margin-right:14px;margin-bottom:5px;margin-top:3px">
								<strong class="style-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</strong> Praesent vestibulum molestie lacu-<br>sAenean nonummy hendre-<br>rit mauris. Phasellus porta.					
							</div><br>		
							<div style=" padding-left:12px;padding-top:3px;padding-right:13px;line-height:13px" class="style-1">
								<img src="images/4-pic-2.jpg" align="left" style="margin-right:14px;margin-bottom:5px;margin-top:3px">
								<strong class="style-2">Fusce suscipit varius mi.</strong> Cum sociis natoque <br>penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. 
								<div style=" padding-top:4px"><strong><a href="#" style=";text-decoration:none">  read more</a></strong> &nbsp;<img src="images/more.gif"></div>
							</div>		
						</td>
						<td width="2"><img src="images/spacer.gif" width="2" height="1"></td>
						<td width="239" bgcolor="#7F7F5E" background="images/back-2.jpg" style="background-repeat:repeat-x;background-position:bottom">
							<div style=" padding-left:13px;padding-top:15px">
								<img src="images/4-pic-3.jpg" style="margin-bottom:7px "><br>																
								<strong>
									&bull; <a href="#">dolore sit avertas</a><br><img src="images/spacer.gif" width="1" height="4"><br>
									&bull; <a href="#">taserto yaser masenda dolomie</a>
								</strong>
								<div style=" padding-top:10px;padding-bottom:6px">Consectetuer adipiing eraes entstias bulua smde lacumagnis diparturient.</div>
								<strong><a href="#" style=";text-decoration:none">  read more</a></strong> &nbsp;<img src="images/more.gif"><br>
							</div>
						</td>
						<td width="2"><img src="images/spacer.gif" width="2" height="1"></td>
						<td width="238" bgcolor="#94956E" background="images/back-3.jpg" style="background-repeat:repeat-x;background-position:bottom">							
							<div style=" padding-left:17px;padding-top:6px;line-height:18px;padding-bottom:7px">
								<strong>&bull; <a href="#">Sed laoreet aliquam leo</a></strong><br>
								<strong>&bull; <a href="#">Ut tellus dolor</a></strong><br>
								<strong>&bull; <a href="#">Dapibus eget, elementum vel</a></strong><br>
								<strong>&bull; <a href="#">Cursus eleifend, elit</a></strong><br>
								<strong>&bull; <a href="#">Aenean auctor wisi et urna </a></strong><br>
								<strong>&bull; <a href="#">Aliquam erat volutpat</a></strong><br>
								<strong>&bull; <a href="#">Cuis ac turpis</a></strong><br>
								<strong>&bull; <a href="#">Integer rutrum ante eu lacus</a></strong><br>
								<strong>&bull; <a href="#">Quisque nulla vestibulum libero nisl </a></strong><br>						
							</div>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><a href="#" style="text-decoration:none"> learn more</a></strong> &nbsp;<img src="images/more.gif"><br>
						</td>
						<td width="3" height="100%" bgcolor="#C0BFA4"><img src="images/spacer.gif" width="3" height="1"></td>
					</tr>
					<tr><td colspan="7" width="725" height="3" bgcolor="#DADAAE"><img src="images/spacer.gif" width="1" height="1"></td></tr>
					<tr><td colspan="7" width="725" height="32" bgcolor="#FFFFE6" align="center"><div style=" padding-top:10px;padding-left:20px"><a href="index-6.html" style="color:#979763;text-decoration:none">Copyright 2005-2006 &copy; Business Company. All rights reserved.</a></div></td></tr>
					<tr><td colspan="7" width="725" height="3" bgcolor="#DADAAE"><img src="images/spacer.gif" width="1" height="1"></td></tr>
					<tr><td colspan="7" width="725" height="56" background="images/end-11.jpg" style="background-repeat:repeat;background-position:bottom"><img src="images/spacer.gif" width="1" height="1"></td></tr>
					</table>
			</td>
			<td width="20" height="100%"><img src="images/spacer.gif" width="20" height="1"></td>
		</tr>
		</table>

	</td>
</tr>
<tr>
	<td height="100%" background="images/end-11.jpg" style="background-repeat:repeat-y;background-position:top center">&nbsp;</td>
</tr>
</table>
</BODY>
</HTML>